@model List<MvcProject.Models.Employee>
@{
    ViewBag.Title = "GetEmployee";
}

<h2>GetEmployee</h2>

@foreach (var item in Model)
{
    @item.EmpID<span>_</span>
    @item.EmpName<span>_</span>
    @item.EmpSalary<br/>
}

