<table>
    <tr>
        <th>EmpID</th>
        <th>EmpName</th>
        <th>EmpSalary</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Supriya</td>
        <td>26000</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Sivapriya</td>
        <td>27000</td>
    </tr>
    <tr>
        <td>3</td>
        <td>priya</td>
        <td>28000</td>
    </tr>
</table>
